/build/
/sites/nbproject/private/
/html/nbproject/private/
/dist/
/images/nbproject/private/
/PigLatin/nbproject/private/
/PigLatin/build/
/sites/John Doe/nbproject/private/
/JavaApplication28/nbproject/private/
/JavaApplication29/nbproject/private/
/JavaApplication29/build/
/SB/nbproject/private/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/JavaApplication31/nbproject/private/
/JavaApplication31/build/
/JavaApplication/nbproject/private/
/JavaApplication/build/