#whole {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#student_name {
	background: #7FDBFF;
}
#banner {
	background: #7FDBFF;
}
#nav_bar {
  background: #0074D9;
}
#nav_bar ul li a {
  color: #ffffff;
}
#nav_bar ul li a:hover {
  color: #333333;
}
#nav_bar ul li a:after {
  background: #ffffff;
}
#nav_bar ul li a:before {
  background: #333333;
}
#nav_bar ul li a:active {
  color: #333333;
}
#banner {
	background-color: #7FDBFF;
}