/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 11, 2015, 9:14:26 PM
    Author     : jieliang
*/

// TOOLBAR CONTROLS
.horizontal_toolbar_pane, .vertical_toolbar_pane {    
    -fx-padding:5;
}

.horizontal_toolbar_pane {
    -fx-background-color: #5ccdde;
    -fx-hgap:5;
}

.vertical_toolbar_pane {
    -fx-background-color: #454e59;
    -fx-alignment: center;
    -fx-orientation: vertical;
    -fx-vgap:10;
}
.page_edit_toolbar_pane {
    -fx-hgap:5;
    /*-fx-background-color: #D3D3D3;*/
    -fx-background-color: #454e59;
}

.page_edit_toolbar_button {
    /*-fx-background-color: #D3D3D3;*/
    -fx-background-color: #454e59;
    -fx-padding: 10px;
}

.vertical_toolbar_button {
    -fx-background-color: #D3D3D3;
    -fx-padding: 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-background-color: #5ccdde;
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}

// WORKSPACE AND IT'S CONTAINERS

.workspace {
    
}
.component_pane {
    /*-fx-background-image: url("http://www.ic.sunysb.edu/Stu/jieliang/images/crossword.png");*/
    -fx-background-image: url("../images/img/9.jpg");
}
.page_pane {
    -fx-background-color: #454e59;
}
.page_title {
    /*-fx-background-color: #8ED2C9;*/
    -fx-background-image: url("http://www.ic.sunysb.edu/Stu/jieliang/images/swirl.png");
}
.selected_page_title {
    
}
.dialog_label {
    
}
.dialog_button {
    -fx-padding: 10px;
}
.banner_text {
    -fx-font: 16pt bold;  
}
.dialog_pane {
    -fx-background-image: url("http://www.ic.sunysb.edu/Stu/jieliang/images/swirl.png");
}
component {
    -fx-background-color:darkolivegreen;
}
.selected_component {
    -fx-background-color: #5ccdde;
}
page {
    -fx-background-color: #8ED2C9;
}
.selected_page {
    -fx-background-color: #8ED2C9;
}