/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 8, 2016, 3:59:22 PM
    Author     : jieliang
*/
// dialog
.dialog_pane {
    
}

.dialog_button_pane {
    -fx-alignment: center;
}
.dialog_option_button {
    -fx-font-size: 14pt;
    -fx-background-color: #DDDDDD;
    -fx-border-radius: 4 4 4 4;
    -fx-spacing: 10px;
}

//toolbar on the top
.horizontal_toolbar_pane {
    -fx-background-color: #5ccdde;
    //expand the size of the pane
    -fx-padding: 5px;
}

.horizontal_toolbar_button {
    -fx-background-color: #5ccdde;
}

//right side
//main
.page_edit_pane {
    -fx-background-color: #454e59;
}

.page_edit_toolbar_pane {
    -fx-padding:5px;
}

.page_edit_toolbar_button {
    -fx-background-color: #D3D3D3;
    -fx-padding: 10px;
    -fx-spacing: 50px;
}

.page_edit_scrollpane > .viewport {
   -fx-background-color: #454e59;
}

.page_edit_titles_vbox {
    -fx-background-color: #454e59;
    -fx-border-color:transparent;
}

.page_edit_titles_label {
    -fx-font-weight:bold;
    -fx-font-size:20; 
    -fx-text-fill:white;
}

.page_edit_remove_button {
    -fx-background-color: #FF4136;
}

// left side
// toolbar pane
.vertical_toolbar_pane {
    -fx-background-color: #454e59;
    -fx-alignment: center;
    -fx-orientation: vertical;
    -fx-vgap:10;
    -fx-padding:5px;
}
// toolbar button
.vertical_toolbar_button {
    -fx-background-color: #D3D3D3;
    //make it bigger
    -fx-padding: 10px;
}

//center
//center top
.component_label {
    -fx-font-weight:bold;
    -fx-font-size:20;
}

.text-field {
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

.text-field:focused {
    -fx-background-color: transparent, #DDDDDD, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

.page {
    -fx-background-color: #DDDDDD;
    -fx-border-color:transparent;
}

.selected_page {
    -fx-background-color: #AAAAAA;
    -fx-border-color:transparent;    
}