#whole {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#student_name {
	background: #FFCE54;
}
#nav_bar {
  background: #FFCE54;
}
#nav_bar ul li a {
  color: #ffffff;
}
#nav_bar ul li a:hover {
  color: #333333;
}
#nav_bar ul li a:after {
  background: #ffffff;
}
#nav_bar ul li a:before {
  background: #333333;
}
#nav_bar ul li a:active {
  color: #333333;
}
#banner {
	background-color: #FFCE54;
}